/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.gallery {
  max-width: 1128px;
  margin: 24px auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.gallery-item {
  list-style: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}
